.calendar-day {
    cursor: pointer;
    transition: all 0.2s;
}
.calendar-day:hover {
    background-color: #5184b8;
}
.active-day {
    background-color: #5184b8 !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 50% !important;
}
.navbar {
    background-color: #5184b8;
    border-bottom: 1px solid #dee2e6;
}